.store_panel__building {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $s-size $xl-size;
  outline: none;
  text-align: start;
  
  p {
    margin: 0;
  }
  &:hover {
    box-shadow: 0px 0px 16px #fff inset, 0px 0px 1px #000;
  }
}

.store_panel__building--hidden {
  opacity: 0.6;

  .store_panel__building_cost {
    color: #f66;
  }
}

.store_panel__building--clicked {
  @extend .store_panel__building;

  &:hover {
    box-shadow: 0px 0px 16px #000 inset, 0px 0px 1px #000;
  }
}

.store_panel__building_name {
  font-size: $xl-size;
  line-height: 28px;
}

.store_panel__building_cost {
  display: flex;
  color: #6f6;
  font-size: $m-size;
  text-shadow: 0px 0px 6px #000, 0px 1px 1px #000;

  img {
    margin-right: 5px;
  }
}

.store_panel__building_amount {
  font-size: $xxl-size;
  opacity: 0.2;
  color: #000;
  text-shadow: 0px 0px 8px #fff;
}