.cookie_panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  padding-top: 60px;
  background-color: $blue-dark;
  text-align: center;
}

.cookie_panel__header {
  height: $xl-size;
  width: 70%;
  margin: 0;
  margin-bottom: $s-size;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-family: 'Merriweather', Georgia, serif;
  font-size: $l-size;
  font-weight: bold;
  line-height: $xl-size;
  text-align: center;
}

.cookie_panel__stats {
  width: 100%;
  margin-bottom: $xl-size;
  background-color: rgba(0, 0, 0, 0.5);

  p {
    margin: 0;
    font-size: $xl-size;
  }
  p:nth-last-of-type(1) {
    font-size: $m-size;
  }
}

.cookie_panel__button {
  background-color: inherit;
  background-image: url(./../img/perfectCookie.png);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  outline: none;
}