.cookie_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 30%;
  padding-top: 60px;
  background: url(./../img/blackGradientSmallTop.png) repeat-x;
  background-color: $blue-dark;
  text-align: center;
}

.cookie_panel__header {
  height: $xl-size;
  width: 70%;
  margin: 0;
  margin-bottom: $s-size;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-family: 'Merriweather', Georgia, serif;
  font-size: $l-size;
  font-weight: bold;
  line-height: $xl-size;
  text-align: center;
  text-shadow: 0px 0px 4px #000;
}

.cookie_panel__stats {
  width: 100%;
  margin-bottom: $xl-size;
  background-color: rgba(0, 0, 0, 0.5);

  p {
    margin: 0;
    font-size: $xl-size;
  }
  p:nth-last-of-type(1) {
    font-size: $m-size;
  }
}

.cookie_panel__button {
  width: 215px;
  height: 215px;
  padding: 0;
  background-color: inherit;
  background-image: url(./../img/perfectCookie.png);
  background-size: cover;
  border: 0;
  border-radius: 50%;
  outline: none;
  -webkit-animation: cookie-bouncing-back 0.5s forwards;
          animation: cookie-bouncing-back 0.5s forwards;

  &:hover {
    -webkit-animation: cookie-bouncing 0.5s forwards;
            animation: cookie-bouncing 0.5s forwards;

    &.cookie_panel__button--bounce {
      -webkit-animation: cookie-click-bouncing 0.5s forwards;
              animation: cookie-click-bouncing 0.5s forwards;
    }
  }
}
