.store_panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background-color: $blue-dark;
  text-align: center;
}

.store_panel__header {
  margin: 0;
  font-size: $xl-size;
  line-height: 50px;
}

.store_panel__building {
  height: 64px;
  padding: 0 30px;
  background-image: url(./../img/storeTile.jpg);
  border: 0;
}

.store_panel__separator {
  background-image: url(./../img/panelHorizontal5e1f.png);
  height: 17px;
  width: 100%;
}

.store_panel__building:nth-of-type(4n + 2) {
  background-position-y: 64px;
}

.store_panel__building:nth-of-type(4n + 3) {
  background-position-y: 128px;
}

.store_panel__building:nth-of-type(4n + 4) {
  background-position-y: 192px;
}