.store_panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background-color: $blue-dark;
  text-align: center;
}

.store_panel__header {
  margin: 0;
  font-size: $xl-size;
  line-height: 50px;
}

.store_panel__upgrades {
  height: 77px;
  background-color: rgba(0, 0, 0, 0.4);
}

.store_panel__building {
  height: 64px;
  padding: 0 30px;
  background-image: url(./../img/storeTile.jpg);
  border: 0;
}

.store_panel__buildings_container {
}

.separator {
  background-image: url(./../img/panelHorizontal5e1f.png);
  height: 17px;
  width: 100%;
}