@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900");

html {
  box-sizing: border-box;
  color: $white;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather', Georgia, serif;
  font-size: $m-size;
  font-weight: bold;
  text-shadow: 0px 0px 4px $black;
}

button {
  color: $white;
  cursor: pointer;
  font-family: 'Merriweather', Georgia, serif;
  font-weight: bold;
  text-shadow: 0px 0px 4px $black;
}
